<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header1') %>
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Just checking loging</h1>
        <div class="link">
            <a href="/user/profile">Profile</a>
            <a href="/user/userdetails">User Details</a>
            <a href="/user/logout">Logout</a>
        </div>
    </div>
</body>
</html>